.bg-lila {
    background-color: #7E82D5;
}

.login{
    width: 320px;
    height: 206px;
    margin-top: 250px;
    margin-left: -500px;
}

.logo1{
    height: 144px;
    margin-left: 350px;
}

.logo2{
    height: 144px;
    margin-left: 300px;
}